.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 1rem;
    max-width: 80rem;
    width: 100%;
    padding: 2rem 1rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1;

    .sort-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 1rem;

        button {
            background: none;
            border: 1px solid #fff;
            border-radius: .7rem;
            color: #fff;
            width: 10rem;
            height: 3rem;
            margin-right: 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(255, 255, 255, .2);
            }
        }
    }

    .date {
        color: #fff;
        margin-right: 2rem;
    }
}