@import "../../styles/responsive";

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 1.6rem 1.6rem 2.4rem;
  max-width: 112rem;
  width: 100%;
  border-radius: 1rem;
  gap: 1.6rem;

  @include md {
    width: 80rem;
  }

  .flight-type {
    display: flex;
    justify-content: flex-start;
    width: 40rem;

    .one-direction,
    .two-direction {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 2rem;
      gap: 0.5rem;

      input {
        width: 1.6rem;
        height: 1.6rem;
      }

      span {
        font-size: 1.4rem;
        color: #fff;
      }
    }
  }

  .flight-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    .search-fields {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .flight-swapper {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        left: 22.5rem;

        @include md {
          left: 12.8rem;
        }
      
        button {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 50%;
          background-color: #f0f0f0;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
      
          img {
            width: 80%;
            height: 80%;
          }
      
          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
      
      .passenger-count {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border: 1px solid #fff;
        border-radius: 1rem;
        padding: 1rem;
        height: 5.5rem;
        cursor: pointer;

        @include md {
          width: 12rem;

          label {
            font-size: 1rem;
          }
          
          span {
            font-size: 1.2rem;
          }
        }

        label {
          font-size: 1.3rem;
          color: #dadada;
        }

        span {
          color: #fff;
        }
      }
    }

    .search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 12rem;
      min-width: 6rem;
      width: 100%;
      height: 5.5rem;
      background-color: #e81935ae;
      border: 1px solid #fff;
      border-radius: 1rem;
      color: #fff;
      font-size: 1.6rem;
      cursor: pointer;

      @include md {
        width: 10rem;
      }

      &:hover {
        background-color: rgba(232, 25, 53, 0.882);
      }
    }
  }
}
